#!/usr/bin/env bash

{% block description %}
# desc should be overriden by child template
{% endblock %}

set -x
set -e
set -u

r=$(date +%s)
myproject="/tmp/myproject-${r}"
mkdir $myproject && cd $myproject

{% block dirty_container %}
{% block dirty_mkdir %}
bindir="${myproject}-bindir" && mkdir -p $bindir
{% endblock %}
{% endblock %}

cat >main.go <<EOF
package main

import "fmt"

func main() {
   fmt.Println("Hello, World!")
}
EOF

go mod init go.company.com/mytest

{% block git_init %}
git init && git add -A && git commit -am Intial
{% endblock %}

go build

{% block git_tag %}
git tag v0.0.1
{% endblock %}

{%- block dirty_mv %}
mv mytest $bindir/mytest
{% endblock %}

{%- block run %}
$bindir/mytest
{% endblock %}

bump patch

{% block dirty_list %}
git ls-files . --exclude-standard --others
{% endblock %}

rm -rf $myproject
{%- block dirty_clean %}
rm -rf $bindir
{% endblock %}
