#!/usr/bin/env bash

{% block description %}
# desc should be overriden by child template
{% endblock %}

set -x
set -e
set -u

r=$(date +%s)
myproject="/tmp/myproject-${r}"
mkdir $myproject && cd $myproject

{% block git_needs_bin_path %}
{% block create_tmp_bin_path %}
bindir="${myproject}-bindir" && mkdir -p $bindir
{% endblock %}
{% endblock %}

cat >main.go <<EOF
package main

import "fmt"

func main() {
   fmt.Println("Hello, World!")
}
EOF

go mod init go.company.com/mytest

{%block git_init %}
git init
git add -A
git commit -am Intial
{% endblock %}

{%block git_tag %}
git tag v0.0.1
{% endblock %}

go build

{%block git_clean %}mv mytest $bindir/mytest{% endblock %}

bump patch

{%block git_show_others %}
git ls-files . --exclude-standard --others
{% endblock %}

rm -rf $myproject
{%- block git_clean_tmp_bin_path %}
rm -rf $bindir
{% endblock %}
