#!/usr/bin/env bash

{% block description %}
# desc should be overriden by child template
{% endblock %}

set -x
set -e
set -u

d=$(mktemp -d /tmp/myproject-XXXX)
cd $d

{% block git_needs_bin_path %}
{% block create_tmp_bin_path %}
tmpbin="${d}-tmpbin"
mkdir $tmpbin
{% endblock %}
{% endblock %}

cat >main.go <<EOF
package main

import "fmt"

func main() {
   fmt.Println("Hello, World!")
}
EOF

go mod init go.company.com/mytest

{%block git_init %}
git init
git add -A
git commit -am Intial
{% endblock %}

{%block git_tag %}
git tag v0.0.1
{% endblock %}

go build

{%block git_clean %}mv mytest $tmpbin/mytest{% endblock %}

bump patch

{%block git_show_others %}
git ls-files . --exclude-standard --others
{% endblock %}

rm -rf $d
{%- block git_clean_tmp_bin_path %}
rm -rf $tmpbin
{% endblock %}
