#!/usr/bin/env bash

{% block description %}
# base
{% endblock %}

set -x
set -e
set -u

d=$(mktemp -d /tmp/myproject-XXXX)

{% block needs_bin_path %}
{% block create_tmp_bin_path %}
trash="${d}-trash"
mkdir $trash
{% endblock %}
{% endblock %}

cd $d

cat >main.go <<EOF
package main

import "fmt"

func main() {
   fmt.Println("Hello, World!")
}
EOF

go mod init go.company.com/mytest

{%block git_init %}
git init
git add -A
git commit -am Intial
{% endblock %}

{%block git_tag %}
git tag v0.0.1
{% endblock %}

go build

{%block git_clean %}mv mytest $trash/mytest{% endblock %}

bump patch

{%block git_show_others %}
git ls-files . --exclude-standard --others
{% endblock %}

rm -rf $d
{% block clean_tmp_bin_path %}
rm -rf $trash
{% endblock %}
