{% extends 'base.j2' %}

{% block description %}
# Example: code is not in git repo.
{% endblock %}

{% block git_clean %}{% endblock %}
{% block git_init %}{% endblock %}
{% block git_show_others %}{% endblock %}
{% block git_tag %}{% endblock %}
{% block needs_bin_path %}{% endblock %}
{% block clean_tmp_bin_path %}{% endblock %}
