{% extends 'base.sh.j2' %}

{% block description %}
# Example: happy path:
# put files in git repo
# commit files and leave no dirty files laying around
# git tag current HEAD
{% endblock %}

{% block dirty_list %}{% endblock %}
