{% extends 'base.sh.j2' %}

{% block description %}
# Example: your current git repo is dirty in this case because of untracked files.
{% endblock %}

{% block git_clean %}{% endblock %}
{% block create_tmp_bin_path %}{% endblock %}
{% block git_needs_bin_path %}{% endblock %}
{% block git_clean_tmp_bin_path %}{% endblock %}
