{% extends 'base.j2' %}

{% block description %}
# Example: you guilhem/bump requires git tag but you don't have any tags.
{% endblock %}

{% block git_tag %}{% endblock %}
{% block git_show_others %}{% endblock %}
